@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Fredericka+the+Great&family=Ibarra+Real+Nova&family=Roboto&display=swap');
@font-face{
    font-size: 'Perfect';
    src: url('/fonts/fontEspecial.otf') format(opentype);
    font-weight: normal;
}
:root{
    /* 
        --cor2:#00a896ff;
        --cor3:#02c39aff;
    */
    --cor0:#0429feff;
    --cor1:#0D6EFDff;
    --cor2:#212B46;
    --cor3:#2e2e2e;
    --cor4:#f0f3bdff;
    --cor5:#ff4b0aff;
  
    --font-padrão: 'Roboto' , verdana, Helvetica, sans-serif;
    --font-especial:'Fredericka the Great', cursive; /*'Perfect', cursive;*/
    --font-titulos:'Edu SA Beginner', cursive;
    
}/*variavel em CSS */
*{ /*Configurações globais para todos elementos*/
    margin: 0px;
    padding: 0px;
}
@keyframes girando {
    from{
        transform: rotateY(90deg);
    }to{
        transform: rotateY(0deg);
    }
}
@keyframes appear-right {
    0%{
        transform: translateX(100%);
    }60%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes appear-left {
    0%{
        transform: translateX(-100%);
    }60%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0);
    }
}
.eragonTech{
    font-size: 25px;
    display: flexbox;
    animation: girando 2s;
}
.eragonTech::first-letter{
    color: var(--cor5);
}
body{
    background-color: var(--cor2);
    color:  #222;
    
    text-align: center;
    margin: auto;
}
.p-inicial{
    color: var(--cor4);
    width: 100%;
    background-size: cover;
    position: fixed;
    font-size: .5em;
    padding: 12px;
    background-color: var(--cor1) ;
}
.p-inicial>.p1 {
    float: left;
}

header{
    /*box-shadow: 0px 1px 7px rgba(0,0,0,0.400);*/
    max-height: 70vh;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.535);
    color: var(--cor4);
    padding: 25px;
    background-image: linear-gradient(to top,var(--cor2), var(--cor0));
}
.esquerda{
    padding-top: 50px; ;
    float: left;
    margin: 10px;
}
.direita{
    margin-top: 20px;
}
.logo-eragon{
    margin-top: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.95);
    animation: girando 2s;
}
.card{
    margin-top: 100px;
}
.card-img{
    opacity: .4;
}
.card-img-top{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.link{
    color: var(--cor5);
    font-size: 1em;
    font-weight: bolder;
    text-decoration: none;
}
.link:hover{
    transition-duration: .2s;
    font-size: 1.3em;
    border-radius: 5px;
    text-decoration: underline;/*coloca o sublinhado no link*/
}
article{
    max-width: 950px;
    padding: 10px;
    /*box-shadow: 2px 1px 5px rgba(30, 29, 29, 0.535);*/
    border-radius: 15px;
    text-align: left;
    margin: auto;
}
article>section{
    margin-top: 100px;
    margin-bottom: 50px;
}
main{
    font-size: 1.5em;
    padding: 20px 10px;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.494); */
    margin: auto;
    margin-top: 150px;
    max-width: 1200px;
    color: var(--cor4);
    background-color: var(--cor2);
    border-bottom-right-radius:  15px;
    border-bottom-left-radius:  15px;
}
h1{
    font: bolder 1.8em var(--font-especial);
}
h2{
    font-size: 1.5em;
    font-family: var(--font-especial);
}
h3{
    font:var(--font-titulos);
    font-size: 1.2em;
}
h4{
    font-weight: bold;
}
h5{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color:var(--cor0);
    background-color:var(--cor0);
    cursor: pointer;
    color:  var(--cor3);
    font-size: 1.2em;
    font-weight: bold;

}
h5:hover{
    background-color:var(--cor0);
    cursor: pointer;
    transition: .4s;
    color:  var(--cor3);
    font-size: 1.2em;
}
img{
    border-radius: 25px;
}
.siga-nos{
    justify-content: center;
    display: flex;
}
article>section>h2{
    background-color: var(--cor2);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.secao-centro{
    display:block;
    margin:auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
.card-text{
    font-size: .7em;
}
/*DIV ESCONDIDA*/
.hidden{
    background-color: var(--cor3);
    display: none; 
    max-width: 650px;
    display: none;
    margin:auto;
    border-radius: 12px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.535);
    animation: appear-right 1.2s;
} 
strong{
    color: var(--cor0);
}
.secao-centro>article{
    max-width: 800px;
    font-size: 1em;
}
.secao-centro>article>p{
    background-color: var(--cor3);
    color: azure;
    padding: 20px;
}
p{
    text-align: justify;
    padding: 2px;
    margin: 10px 0px;
}
aside{
    margin-top: 50px;
}
aside>li>input{
    margin: 5px;
    min-width: 280px;
    padding: 3px 5px;
    background-color:var(--cor3);
    color:white;
    font-size: .7em;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}
aside>li>input[type="button"]:hover{
    cursor: pointer;
    background-color: var(--cor4);
    color: var(--cor3);

}

li {
    list-style-type: none; /*Tira o ponto da lista*/
  }
/**/
/*CONTATOS E REDES SOCIAIS*/
.imagem_contato,.imagem-rede-social{ 
    opacity: .4;
    background-color: white;
    width: 35px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}
.imagem_contato:hover,.imagem-rede-social:hover{
    opacity: 1;
    transition-duration: .3s;
}
/*CONTATOS E REDES SOCIAIS*/
/*IMAGENS DE LINKS ÚTEIS*/
.imagens-links-ulteis{
    margin: 10px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--cor0);
}
.imagens-links-ulteis:hover{
    background-color: var(--cor1);
    transition-duration: .2s;
}
/*IMMAGENS DE LINKS ÚTEIS*/
footer{
    margin-top: 50px;
    justify-content: center;
    background-color: var(--cor3);
    color: white;
    font-style: italic ;
}
.perfio-eros{
    border-radius: 50%;
    box-shadow: 3px 2px 10px rgba(0, 0, 0,0.535);
}
.perfio-final{
     max-width: 500px;
     text-align: center;
}
.descricao-perfio{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0,0.535);
    font-size: 18px;
}
.final{
    margin: auto;
    text-align: left;
    max-width: 320px;
    min-width: 100px;
}
/*Efeito de aparecer com a rolagem do SCROLL*/

#hiddenScroll{
    opacity: 0;
}
/*Efeito de aparecer com a rolagem do SCROLL*/